@import "../variables/colors";

.btn {
  border: none;
  border-radius: 50px;
  color: $main-font-color;
  background-color: $btn-color;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: all .2s;
  padding: 15px 40px;

  &:hover {
  	background-color: #c9005a;
    transform: scale(1.1);
  }
}
